/* nejsme vcerejsi, pouzivame moderni box model */
*, ::after, ::before { box-sizing: border-box; }


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
}


/*header*/
h1 {
    font-family: "Raleway", serif;
    font-size: 40px;
}

.header {
    color:white;
    background-image: url("../../images/island-hlavicka.jpg");
    text-align: center;
    background-size: cover;
    min-height: 200px;
    padding: 10px;
    max-width: 100%;
}

.autor1 {
    opacity: 50%;
}

.linkanadpis {
    height: 1px;
}

/*menu*/
.menu {
    color: grey;
    opacity: 50%;
    text-align: center;
    text-decoration:none ;
    margin: 10px;
}

.menu li {
    display: block;
}

.menu a {
    text-decoration:none;
    color:grey;
    text-transform: uppercase;
    text-decoration: overline;
}


/*úvod*/

.uvod {
    margin:10px;
}

.fotopopis {
    color: grey;
    opacity: 50%;
    text-align: center;
}

.fotopopis a {
    color:grey;
}

/*sekce1*/

.sekce1 {
    margin:10px;
}

h2 {
    font-size: 32px;
}

.linkamodra {
    color: #629edb;
}

img {
    justify-content: space-evenly;
    max-width: 100%;
    height: auto;
}

/*sekce2*/
.sekce2 {
    margin:10px;
}

/*Fotogalerie*/
.fotogalerie {
    margin:10px;
}

.fotografie {
    text-align: center;
    padding: 10px;
}

.fotografie p {
    color:grey;
    text-align: center;
    margin:0;
}

.foto {
    width: 100%;
    height: auto;
}

/*Footer*/

.footer {
    background-color:lightgrey;
    padding:20px;
    color: grey;
}

.footer a {
    color: grey;
}

.footer p {
    text-align: left;
}

/*@media (min-width:500px) {

    .menu li {
        display: inline-flex;
        justify-content: space-evenly;
    }

    .menu {
        margin:10px;
        padding:0px;
    }
    
    .menu a {
        display: inline-flex;
        padding: 20px 30px;
        /*text-decoration: none;
        border: 1px solid grey;*//*
    }

    .fotografie {
        display:flex;
        flex-wrap: wrap;
        flex-basis: 50%;
    }

    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6,
    .foto7,
    .foto8,
    .foto9 {
        position:relative;
    }

    .popisekfoto{
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0px;
        right: 0px;
        background:lightgrey;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
    }


    .foto1:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto2:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto3:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto4:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto5:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto6:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto7:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto8:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto9:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

}*/

@media (min-width:500px) {
    .menu li {
        display: inline-flex;
        justify-content: space-evenly;
    }

    .menu {
        margin:10px;
        padding:0px;
    }
    
    .menu a {
        display: inline-flex;
        padding: 20px 30px;
    }

    .fotografie {
        display:flex;
        flex-wrap: wrap;
    }

    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6,
    .foto7,
    .foto8,
    .foto9 {
        min-height: 150px;
        flex-basis: 50%;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .popisekfoto{
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0px;
        right: 0px;
        background:lightgrey;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
    }

    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5,
    .foto6,
    .foto7,
    .foto8,
    .foto9 {
        position:relative;
    }

    .foto1:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto2:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto3:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto4:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto5:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto6:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto7:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto8:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

    .foto9:hover .popisekfoto {
        visibility: visible;
        opacity: 0.5;
    }

}

